@import "../styles/colors.scss";

footer{
    display: flex;
    justify-content: space-between;
    padding: 3rem 10rem;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    

    h1{
        color: $third;
    }

    .right-half{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        text-align: center;
        
        a{
            color: black;

            &:hover{
                color: $third;
                font-weight: 600;
            }
        }

        h5{
            color: $third;
            font-size: 1.4rem;
            font-weight: 700;
        }
    }
}