@import "./colors.scss";

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 10;
    width: 100%;

    h1{
        text-transform: uppercase;
    }

    >main{
        display: flex;
        justify-content: flex-end;
        color: black;
        width: 70%;

        a{
            color: $second;
            margin: 1rem;

            &:hover{
                color: $third;
            }
        }
    }

    
}